## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------

#template('notification/macros.vm')

#set ($mainIcon = "bell")
#set ($smallIcon = "arrow_up")
#set ($compositeEventDate = $escapetool.xml($datetool.whenIs($event.dates.get(0))))

#if ($xwiki.exists($services.model.createDocumentReference($xcontext.mainWikiName, 'XWiki', 'ConfigurableClass')))
  #set ($url = $xwiki.getURL($services.model.createDocumentReference($xcontext.mainWikiName, 'XWiki', 'XWikiPreferences'),
    'admin', 'editor=globaladmin&amp;section=Licenses'))##
#else
  #set ($url = $xwiki.getURL($services.model.createDocumentReference($xcontext.mainWikiName, 'Licenses', 'WebHome')))##
#end

#macro (displayEventDetails $event)
  <tr>
    <td>
      <span class="notification-event-user">$escapetool.xml($event.user.name)</span>
    </td>
    ## The notification message is stored directly on the event body.
    <td class="description">$escapetool.xml($event.getBody())</td>
    <td class="text-right text-muted">$escapetool.xml($datetool.whenIs($event.date))</td>
  </tr>
#end

#define ($content)
  <div class="notification-page">
    <a href="$url">
      $escapetool.xml($services.localization.render('admin.licenses'))
    </a>
    ## Notifications are rendered in the context of their wiki, so we need to use the XWikiContext#originalWikiId
    ## to actually know where the request comes from.
    #if ($xcontext.getContext().getOriginalWikiId() != "$!event.events.get(0).wiki.name")
      <span class="text-muted">($services.wiki.getById("$!event.events.get(0).wiki.name").prettyName)</span>
    #end
  </div>
  <div class="notification-description">
    <div class="activity-summary">
      #if ($event.events.size() == 1)
        $services.localization.render("licensor.notification.autoUpgrade.singular")
      #else
        $services.localization.render("licensor.notification.autoUpgrade.plural")
      #end
    </div>
    <div><small class="text-muted">$compositeEventDate</small></div>
  </div>
#end

#define ($details)
  #define($rows)
    #foreach($thisEvent in $event.events)
      #displayEventDetails($thisEvent)
    #end
  #end
  #displayNotificationEventDetailsSkeletons($events.size(), $rows)
#end

#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)